.admin-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  align-items: center;

  /* border: 1px solid green; */
}

.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  align-items: center;

  /* border: 1px solid blue; */
}

.admin-container img {
  width: 100%;
}

.form-container {
  /* height: 100%; */

  /* border: 1px solid red; */
}
