.main-items-container {
  width: 100%;
  display: flex;
  justify-content: space-start;
  flex-flow: wrap;
}

img {
  /* width: 100px; */
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.item-card * {
  margin: 5px;
}

.item-card {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.item-card > p {
  font-size: 10px;
}

.add-btn,
.remove-btn {
  width: 100px;
  background: burlywood;
  border: none;
  padding: 10px;
  font-size: 10px;
}

p {
  padding: 20px;
}

@media (max-width: 700px) {
  .item-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    background-color: white;
    margin: 0;
    border-radius: 0;
    transition: 2s;
  }

  .item-card * {
    margin: 10px;
  }

  .add-btn,
  .remove-btn {
    width: 100px;
    background: burlywood;
    border: none;
    padding: 10px;
    font-size: 10px;
  }
}
